<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        h1{
            background-color:red;
        }
    </style>
</head>
<body>
    <h1>DSFGDSGDS</h1>
</body>
</html>